.container-noticias{
    margin-top: 90px;
}

.input-busca{
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 0px 20px;
    padding: 5px;
    color: rgb(214, 214, 214);
}

.input-busca::placeholder{
    color: rgb(214, 214, 214);
}

.input-busca:focus{
    outline: none;
}

.pagination-container{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}