.container-contato{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    gap: 50px;
    padding: 90px 50px 0px;
    margin-top: 60px;
}

.container-contato figure {
    width: 500px;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}

.container-contato figure img {
    border-radius: 20px;
}

.container-form {
    width: 50%;
    margin: auto;
}

.container-form form h1 {
    text-align: center;
}

@media (max-width: 700px) {
    .container-contato {
        flex-direction: column;
        gap: 0px;
    }

    .container-contato figure {
        width: 400px;
        margin: 0px 50px;
    }

    .container-form {
        width: 100%;
    }
}