.container-fluid {
    display: none;
    width: 50px;
    margin: 0;
    font-size: 24px;
}

.logo {
    font-family: 'Grenze',serif;
}

@media (max-width: 700px) {
    .container-fluid{
        display: block;
    }
}