footer {
    background-color: #333;
    padding: 2rem 0;
    width: 100%;
}

.logo-footer{
    font-family: 'Grenze', serif;
}

footer #container-footer #container-logos {
    display: flex;
    gap: 0.5rem;
}

.titulo-paginas{
    font-size: 1rem;
    font-weight: bold;
}

.container-links-paginas{
    ul {
        list-style: none;
    }
}

.container-links-mais {

    .titulo-mais{
        font-size: 1rem;
        font-weight: bold;
    }

    ul{
        list-style: none;
    }
}